.posts{
    margin: 10px 5px;
}
.postsContainer{
    padding: 10px;
}
.postsContainer p{
    padding:10px;
    letter-spacing: 1px;
    line-height: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.postsContainer h1{
    padding: 5px 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight:300;
    color: #456268;
}