.blogPost{
    width: 70%;
}
.postHeader{
    text-align: center;

}
.postTitle{
    font-size: 20px;
    letter-spacing: 0.5px;
    
    
}
.postFeatured{
    display: block;
    font-size: 15px;
    padding: 10px 0;
}
.postBy{
    display: block;
    font-size: 14px;
    padding: 10px 0;
    font-style: italic;
    color:#0d3542;
    
}
.blogPostimg{
    width:100%;
    
}
.blogPostimg img{
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 50%;
}