.blogPost{
    width: 73%;
}
.postHeader{
    text-align: center;

}
.postTitle{
    font-size: 20px;
    letter-spacing: 0.5px;
    
    
}
.postFeatured{
    display: block;
    font-size: 15px;
    padding: 10px 0;
}
.postBy{
    display: block;
    font-size: 14px;
    padding: 10px 0;
    font-style: italic;
    color:#0d3542;
    
}
.blogPostimg{
    width:100%;
    
}
.blogPostimg img{
    box-sizing: border-box;
    padding: 10px;
    display: block;
    width: 100%;
    
}
.firstPost {
    margin: 10px;
}
.firstPost h3{
    font-weight: 400;
    color:#333

}
.firstPost p{
    font-size: 13px;
    color:#0d3542;
    font-weight: 300;
    letter-spacing: 0.5px;
    padding-bottom: 10px;
    
}